<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")  %>
<body class="<%= bodyClass %>">
    <div class="video-background">
        <video autoplay muted loop>
            <source src="../../videos/bgVideo.mp4" type="video/mp4">
        </video>
    </div>
    
    <%- include("../partials/header.ejs")  %>
    <%- include("../partials/navigation.ejs")  %>
    <div class="container">
        <%- include("../partials/sidebar.ejs")  %>
        <%- include("../partials/maincontent.ejs") %>
     </div>
      <%- include("../partials/footer.ejs")  %>
      
</body>
</html>
