<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= phone.name %> Details</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <%- include("../partials/head.ejs")  %>
</head>
<body class="<%= bodyClass %>">
    <div class="video-background">
        <video autoplay muted loop>
            <source src="../../videos/bgVideo.mp4" type="video/mp4">
        </video>
    </div>
    <%- include("../partials/header.ejs")  %>
    <%- include("../partials/navigation.ejs")  %>
   
<div class="main_content">
    <div class="main_info">
        <% if (phone) { %>
            <h2><%= phone.name %> Details</h2>
            <img src="<%= phone.image %>" alt="<%= phone.name %>">
            <p><strong>Type:</strong> <%= phone.type %></p>
            <p><strong>Size:</strong> <%= phone.size %> cm</p>
            <p><strong>Weight:</strong> <%= phone.weight %> kg</p>
            <p><strong>Color:</strong> <%= phone.color %></p>
            <p><strong>Capacity:</strong> <%= phone.capacity %></p>
            <p><strong>Price:</strong> <%= phone.price %></p>
            <p><strong>Description:</strong> <%= phone.description %></p>
            <p><strong>Reviews:</strong> <%= phone.reviews %></p>
        <% } %>
    </div>
</div> 

   <%- include("../partials/footer.ejs")  %>

</body>
</html> 





